*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: url(back.jpg) center / cover no-repeat;
}

header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 10px;
}

.navbar{
  display: flex;
  padding: 22px 0 ;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .logo{
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}
.navbar .logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar .logo h2{
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
}
.navbar .links{
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar .links a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar .links a:hover{
  color: rgb(62, 17, 0);
}

.navbar .login-btn{
  border: none;
  outline: none;
  color: orangered;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  background: white;
}

.blur-bg-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: 0.1s ease;
}


.show-popup .blur-bg-overlay{
  opacity: 1;
  pointer-events: auto;
}

.form-popup{
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 720px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background: white;
  border: 2px solid white;
  transform: translate(-50%,-100%);
}

.show-popup .form-popup{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%,-50%);
  transition: trasform 0.3s ease, opacity 0.1s;
}


.form-popup .close-btn{
  position: absolute;
  top: 12px;
  right: 12px;
  color: orangered;
  cursor: pointer;
}
.form-popup .form-box{
  display: flex;
}

.form-box .form-details{
  max-width: 330px;
  width: 100%;
  color: rgb(217, 151, 126);
  display: flex;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(trek.jpg);
  background-size: cover;
  background-position: center;
}

.login .form-details{
  background: url(trek.jpg);
  background-size: cover;
  background-position: center;
  
}
.signup .form-details{
  background: url(trekking.jpg);
  background-size: cover;
  background-position: center;
  
}

.form-box h2{
  text-align: center;
  margin-bottom: 30px;
}

.form-box .form-content{
  width: 100%;
  padding: 35px;
}

form .input-field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

form .input-field input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 0.95rem;
  border-radius: 3px;
  border: 1px solid gainsboro;
}
.input-field input:focus{
  border-color: orangered;
}

.input-field input:is(:focus, :valid){
  padding: 16px 15px 0;
}

form .input-field label{
  position: absolute;
  top: 50%;
  left: 15px;
  color: grey;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid)~ label{
  color: rgb(233, 79, 45);
  font-size: 0.75rem;
  transform: translateY(-150%);
}

.form-box a{
  color: orangered;
  text-decoration: none;
  
}
.form-box a:hover{
  color: orangered;
  text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text){
  display: inline-flex;
  margin-top: 14px;
  font-size: 0.95rem;
}

form button{
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 14px 0;
  border-radius: 3px;
  margin: 25px 0;
  color: rgb(74, 26, 8);
  cursor: pointer;
  background: rgb(255, 205, 112);
  transition: 0.2s ease;
}


form button:hover{
  background: rgb(195, 52, 0);
}

.form-box .botton-link{
 text-align: center; 
}

.form-popup .signup{
  display: none;
}

.signup .policy-text{
  display: flex;
  align-items: center;
}

.signup .policy-text input{
  width: 14px;
  height: 14px;
  margin-right: 7px;
}


@media (max-width: 760px){
  .form-popup{
    width: 95%;
  }
  .form-box .form-details{
    display: none;
  }
  .form-box .form-content{
    padding: 30px 20px;
  }
}